:root {
	--main-color: hsl(256, 26%, 20%);
	--grayish-blue: hsl(216, 30%, 68%);
	--very-dark-violet: hsl(270, 9%, 17%);
	--very-light-gray: hsl(0, 0%, 98%);
	--dark-grayish-violet: hsl(273, 4%, 51%);
}

*{
	padding: 0;
	margin: 0;
}

body{
	font-size: 16px;
}

/* navbar styling */

#navbar .logo{
	display: flex;
	background-color: var(--very-light-gray);
	justify-content: space-between;
	position: fixed;
	z-index: 999;
	width: 100%;
}

#navbar .title{
	padding: 1.5rem;
	color: var(--very-dark-violet);
}

#navbar .nav-hide{
	margin: 1.2rem 2rem;
	width: 1.6rem;
	height: 1.3rem;
	z-index: 999;
}

#navbar .nav-hide .cancel{
	display: none;
}

#navbar .nav-hide i{
	width: 100%;
	height: 100%;
	padding: 10px 0 5px 10px;
	z-index: 10;
	border: 2px solid var(--very-dark-violet);
}

#navbar #nav-btn i.active:before{
    content: "\f00d";
}

#navbar .title-tab{
	position: fixed;
    height: 100vh;
    width: 100%;
    left: -150%;
    top: 0;
    background: var(--main-color);
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
    color: var(--very-light-gray);
	z-index: 9;
}

#navbar .title-tab p{
	margin-top: 2rem;
}

#navbar .view{
	background-color: transparent;
	color: var(--very-light-gray);
	padding: 0.5rem 1rem;
	border: 1px solid var(--very-light-gray);
	width: 70%;
	margin: 0 auto;
}

#navbar .active{
	top: 0;
	left: 0;
}

/* homepage styling */

#homepage{
	background-color: var(--main-color);
	width: 100%;
}

#homepage .image-desktop img{
	display: none;
}

#homepage .image img{
	box-sizing: border-box;
	width: 100%;
}

#homepage .desktop-left-pattern img{
	display: none;
}

#homepage .left-pattern img{
	margin-top: -4px;
}

#homepage .homepage{
	z-index: 5;
	margin: -5rem 1.8rem 1.8rem;
	text-align: center;
	color: var(--very-light-gray)
}

#homepage .homepage .human{
	font-size: 2.2rem;
	font-weight: bold;
}

#homepage .homepage .details{
	margin-top: 1.3rem;
	line-height: 1.8rem;
}

#homepage .homepage button{
	background-color: transparent;
	color: var(--very-light-gray);
	padding: 0.5rem 1.5rem;
	border: 1px solid var(--very-light-gray);
	margin-top: 1.5rem;
	margin-bottom: 8rem;
}

#homepage .homepage button:hover{
	background-color: var(--very-light-gray);
	color: var(--very-dark-violet);
	cursor: pointer;
}

#homepage .right-pattern img{
	position: absolute;
	right: 0;
	top: 155%;
}

/* page 2 */

#page2{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#page2 .line{
	background-color: var(--grayish-blue);
	min-height: 1px;
	width: 7rem;
	margin: 8rem 0 2rem 0;
}

#page2 .different{
	font-size: 2.2rem;
	margin-bottom: 2rem;
}

#page2 .icon{
	margin: 2rem;
}

#page2 .item-head{
	font-size: 1.5rem;
	margin: 1rem;
}

#page2 .item-info{
	width: 80vw;
}

#page2 .space{
	width: 80vw;
	height: 65vh;
	background-color: var(--main-color);
	margin-top: 8rem;
	color: var(--very-light-gray);
	background-image: url(images/bg-pattern-how-we-work-mobile.svg);
	background-position: right top;
	background-repeat: no-repeat;
	margin-bottom: 5rem;
}

#page2 .space .text{
	text-align: center;
	margin-top: 4rem;
	font-size: 2.2rem;
	font-weight: bolder;
}

#page2 button{
	background-color: transparent;
	color: var(--very-light-gray);
	padding: 0.5rem 1rem;
	border: 1px solid var(--very-light-gray);
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#page2 button:hover{
	background-color: var(--very-light-gray);
	color: var(--very-dark-violet);
	font-weight: bold;
	cursor: pointer;
}

/* footer styling */

footer{
	text-align: center;
	background-color: var(--very-light-gray);
	background-image: url(images/bg-pattern-footer-mobile.svg);
	background-repeat: no-repeat;
	background-position: left top;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5rem 0;
}

footer .insure{
	font-size: 2rem;
	margin: 3rem 0;
}

footer .icons{
	margin-bottom: 2rem;
	letter-spacing: 1rem;
}

footer .icons img:hover{
	background-color: var(--main-color);
	cursor: pointer;
}

footer .line2{
	background-color: var(--grayish-blue);
	height: 1px;
	width: 80vw;
	margin-bottom: 1rem;
}

footer .details-name{
	color: var(--grayish-blue);
	font-weight: bolder;
	font-size: 0.8rem;
	margin: 2rem 0;
}

footer .details{
	color: var(--very-dark-violet);
	font-weight: bolder;
	font-size: 0.8rem;
	margin-bottom: 1rem;
}
footer .details:hover{
	text-decoration: underline;
	cursor: pointer;
}

 /* tablet styling */

@media only screen and (min-width: 769px){
	body{
		font-size: 20px;
	}

	#active{
		display: none;
	}

	#homepage .homepage{
		padding: 5rem;
	}

	#page2 .space{
		height: 55vh;
	}

	#page2 .space .text{
		margin-top: 8rem;
		margin-bottom: 3rem;
	}
}

/* laptop styling */

@media only screen and (min-width: 1000px){
	body{
		font-size: 16px;
	}
	/* navbar  styling*/
	#navbar .nav-hide{
		display: none;
	}
	#navbar{
		display: flex;
		justify-content: space-between;
	}
	#navbar .logo{
		width: unset;
		z-index: unset;
		position: unset;
		background-color: unset;
	}
	#navbar .title{
		font-weight: 700;
		color: var(--very-dark-violet);
		margin-left: 5rem;
	}
	#navbar .title-tab{
		position: unset;
	    height: unset;
	    width: unset;
	    left: unset;
	    top: unset;
	    background: unset;
	    text-align: unset;
	    padding-top: unset;
	    transition: unset;
	    color: unset;
	}
	#navbar .title-tab{
		display: flex;
		margin: 1.5rem 3rem 1.5rem 1.5rem;
	}
	#navbar .title-tab p{
		margin-top: unset;
	}
	#navbar .tab-text{
		font-size: 12px;
		margin-top: 0.5rem;
		margin-right: 2rem;
		color: var(--grayish-blue);
		padding-top: 0.5rem;
	}
	#navbar .tab-text:hover{
		color: var(--very-dark-violet);
		font-weight: bold;
		cursor: pointer;
	}
	#navbar .view{
		color: var(--very-dark-violet);
		border: 1px solid var(--very-dark-violet);
		margin-top: -5px;
		width: unset;
		margin: unset;
	}
	#navbar .view:hover{
		background-color: var(--very-dark-violet);
		color: var(--very-light-gray);
	}

	/* homepagee styling */
	#homepage .image{
		display: none;
	}
	#homepage .left-pattern{
		display: none;
	}
	#homepage .contain{
		display: flex;
		justify-content: space-between;
	}
	#homepage .contain .right-pattern-container{
		width: 100%;
		height: 700px;
		background-image: url(images/bg-pattern-intro-right-desktop.svg);
		background-repeat: no-repeat;
		background-position: right top;
		z-index: 7;
	}
	#homepage .image-desktop img{
		display: block;
		position: absolute;
		top: 26%;
		left: 53%;
		width: 45%;
	}
	#homepage .homepage{
		margin-top: 1.5rem;
		margin-left: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		text-align: left;
		width: 40vw;
	}
	#homepage .homepage .line{
		background-color: var(--very-light-gray);
		height: 2px;
		width: 40%;
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
	#homepage .homepage .human{
		font-size: 4rem;
		font-weight: bold;
	}
	#homepage .homepage button{
		margin-bottom: 1rem;
	}
	#homepage .desktop-left-pattern img{
		display: block;
		position: absolute;
		top: 58%;
	}
	#homepage .right-pattern img{
		display: none;
	}

	/* page2 styling */
	#page2{
		justify-content: flex-start;
		align-items: flex-start;
		text-align: left;
		width: 85vw;
		margin-left: 7rem;
		padding-bottom: 4rem;
	}

	#page2 .line{
		margin-top: 15rem;
		min-height: 2px;
		width: 15vw;
	}

	#page2 .different{
		font-size: 5rem;
	}
	#page2 .contain{
		display: flex;
		justify-content: space-between;
		margin: 0;
		width: 100%;
	}
	#page2 .contain .icon{
		margin: 0;
	}
	#page2 .contain .item-head{
		margin: 1rem 0;
		font-size: 2.5rem;
	}
	#page2 .contain .item-info{
		margin: 0;
		width: 25vw;
	}
	#page2 .space{
		background-image: url(images/bg-pattern-how-we-work-desktop.svg);
		background-position: right top;
		background-repeat: no-repeat;
		width: 100%;
		max-height: 250px;
		display: flex;
		justify-content: space-between;
	}
	#page2 .space .text{
		font-size: 3rem;
		margin-left: 5rem;
		margin-top: 3rem;
		width: 40%;
	}
	#page2 .space button{
		padding: 5px 20px;
		height: 2rem;
		margin-right: 5rem;
		margin-top: 6.5rem;
	}

	/* footer styling */
	footer{
		background-image: url(images/bg-pattern-footer-desktop.svg);
		background-repeat: no-repeat;
		background-position: left top;
	}
	footer .head-contain{
		display: flex;
		justify-content: space-between;
		width: 85vw;
	}
	footer .head-contain .insure{
		margin-top: 0;
	}
	footer .head-contain .icons{
		margin-top: 0.8rem;
	}
	footer .line2{
		width: 85vw;
	}
	footer .details-container{
		display: flex;
		justify-content: space-between;
		width: 85vw;
		text-align: left;
	}

	@media only screen and (min-width: 1400px){
		#homepage .image-desktop img{
			width: 540px;
		}
	}
}
